
/* ===== Large Main Containers ===== */

html {
    background-color: rgb(39, 39, 38);
    padding: 0;
    margin: 0;
}

header {
    padding: 0;
    margin: 0;

}

body {
    padding: 0;
    margin: 0;
    font-family: big_noodle_titling;
}

section {
    max-width: 1920px;
}

/* ===== Nav Links ===== */

nav {
    background-color: rgb(112, 146, 196);
    margin-top: 30;
      
}

nav li {
    display: inline-block;
    font-size: 20pt;
    padding-left: 50px;

}

nav ul {
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
    color: rgb(235, 219, 198);
}

/* ====== Text formats ===== */

h1 {
    color: rgb(235, 219, 198);
    font-size: 45pt;
}

h2 {
    color: rgb(235, 219, 198);
    font-size: 30pt;
}

p {
    color: rgb(235, 219, 198);
    font-size: 20pt;
}

/* ====== Images/ Banners ===== */

.image {
    margin: 0;
    padding: 0;
}

/* ====== Fonts ===== */

@font-face {
    font-family:big_noodle_titling;
    src: url(../Assets/Fonts/big_noodle_titling.ttf);
  }